.about-heading {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid crimson;
    margin: 2rem;
}