.contact {
    background-image: url('../../../images/bg.jpg');
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact::before {
    position: absolute;
    content: "";
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(2, 54, 22);
    opacity: .8;
    z-index: -1;
}